.filters div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.row-filters div {
  display: flex;
  align-items: center;
  gap: 1rem;
}