footer > a {
  display: flex;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: white;
}

footer > a > img {
  height: 2.5rem;
  width: auto;
}
